
#wrapper {
  width: 964px;
  margin: auto;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
}

#space, #control, #patterns {
  margin: auto;
}

#space {
  margin-bottom: 10px;
}
